

.cards {
    @apply grid w-full left-0 right-0 rounded-none;
    background: #E5E5E5;
    min-height: 1258px;
}
.cards-container {
    @apply inline pb-44;
}
.title {
    @apply w-4/5 text-4xl mt-28 ml-24 not-italic font-bold;
    line-height: 54px;
}
.cards-item {
    @apply w-80 mx-4 mt-4 mb-10;
    height: 474px;
}
.dog-grid {
    @apply grid grid-cols-4 justify-around list-none p-6 justify-items-center;
}
.btn-moreDetails {
    @apply h-7 inline mx-6 inline-block font-semibold bg-green-200 cursor-pointer rounded no-underline p-1;
    border: 1px solid rgba(28, 41, 41, 0.349);
}
.btn-del {
    @apply h-7 w-10 mx-6 inline font-bold bg-red-200 cursor-pointer  rounded no-underline p-1;
    border: 1px solid rgba(28, 41, 41, 0.349);
}
.btn-edit {
    @apply h-7 w-10 mx-6 inline font-bold bg-yellow-200 cursor-pointer  rounded no-underline p-1;
    border: 1px solid rgba(28, 41, 41, 0.349);
}
.btn-del:hover {
    box-shadow: 0px 5px 17px rgba(158, 37, 37, 0.1);
  }
.btn-moreDetails:hover {
    box-shadow: 0px 5px 17px rgba(6, 94, 35, 0.1);
  }
.btn-link{
    @apply inline-block ;
}
@screen 2xl {
    .dog-grid {
        @apply grid grid-cols-3;
    }
}
@screen xl {
    .dog-grid {
        @apply grid-cols-2;
        }
    .title {
        @apply ml-24;
    }
}
@screen md {
    .dog-grid {
        @apply grid-cols-1 text-3xl m-0;
    }
    .title {
        @apply mt-16 text-center ml-0 w-full;
    }
}
.cards-item img {
    @apply block max-w-full m-auto h-80 object-cover;
}
.item-text {
    @apply w-4/5 m-0 mx-7;
}
.item-subtitle {
    @apply h-5 not-italic font-semibold text-xs leading-7 text-gray-800 uppercase tracking-wide;
}
.item-descr {
    @apply static h-14 w-72 left-0 top-0 not-italic font-bold text-lg self-stretch overflow-ellipsis leading-5 flex-none flex-grow-0 overflow-hidden top-0 mt-2;
}

