.page {
  @apply relative max-w-full;
}
.page button {
  @apply w-16 h-16 bg-white border border-solid box-border border-gray-100 shadow-md rounded-full text-xl text-gray-400 font-bold absolute z-10 opacity-50;
  top: calc(50% - 68px/2);
}
.cards-slider {
  @apply relative my-0 mx-auto;
  max-width: 85%;
}
.new-wrap {
  @apply overflow-hidden box-border block w-full;
  height: 535px;
}
.cards-slider-wrapper {
  @apply flex transition-transform;
}
@screen 2xl {
  .new-wrap {
    height: 490px;
  }
  .cards-slider {
    max-width: 70%;
  }
  #prev {
    right: 12%;
  }
  #next{
    left: 12%;
  }
}
@screen xl {
  #prev {
    right: 10%;
  }
  #next{
    left: 10%;
  }
  .new-wrap {
    height: 410px;
    }
}
@screen lg {
  .new-wrap {
    height: 310px;
    }
}
@screen md {
  .new-wrap {
    @apply h-80;
  }
}