/* .home-slider {
    height: 800px; 
     width: 100%;
    background: #FFFFFF;
    margin-top: 27px;
    flex-grow: 1;
} */
/* .home-slider section {
    width: 83%;
    height: 54px;
    font-weight: 700;
    font-style: normal;
    font-size: 36px;
    line-height: 54px;
    margin: 0 auto;
    margin-bottom: 14px;
} */
/* @media (max-width:1520px) {
    .home-slider {
        height: 800px;
    }
    .home-slider section {
        font-size: 30px;
    }
} */
/* @media (max-width:1220px) {
    .home-slider {
        height: 670px;
        margin-top: 27px;
    }
    .home-slider section {
        font-size: 25px;
    }
} */
/* @media (max-width:998px) {
    .home-slider {
        height: 490px;
        margin-top: 70px;
    }
    .home-slider section {
        font-size: 20px;
    }
} */
/* @media (max-width:767px) {
    .home-slider {
        height: 469px;
        margin-top: 50px;
    }
} */
/* converting styles to a Tailwindcss */
.home-slider {
    @apply mt-8 w-full flex-grow;
    height: 800px;
}
.home-slider section {
    @apply w-10/12 h-14 font-bold not-italic text-4xl mx-auto mb-3.5;
}

@screen 2xl {
    .home-slider {
        height: 800px;
    }
    .home-slider section {
        @apply  w-8/12 text-3xl;
    }
}
@screen xl {
    .home-slider {
        @apply mt-7;
        height: 670px;
    }
    .home-slider section {
        @apply text-2xl;
    }
}
@screen lg {
    .home-slider {
        @apply mt-20;
        height: 490px;
    }
    .home-slider section {
        @apply text-xl;
    }
}
@screen md {
    .home-slider {
        @apply mt-12;
        height: 469px;
    }
}